                    // CUSTOM COLORS
                    $darkGreen: rgba(0, 95, 0, 1);
                    $lightBlue: rgba(70, 70, 255, 1);
                    $darkRed: rgba(140, 0, 0, 1);
                    // CUSTOM FONTS
                    $primaryFont: "Snowtop Caps";
                    $secondaryFont: fantasy;
                    //MIXINS
                    @mixin redText {
                        color: red;
                    }
                    
                    @mixin boxShadow {
                        box-shadow: 5px 5px gray;
                    }
                    
                    @mixin textShadow {
                        text-shadow: 3px 3px rgb(67, 67, 67);
                    }
                    
                    @mixin animation1 {
                        transform: scale(1) rotate(0deg);
                        transition: transform 1s;
                    }
                    
                    @mixin animation2 {
                        transform: scale(2) rotate(15deg);
                        transition: transform 2s;
                    }
                    
                    @mixin animation {
                        transform: scale(1) rotate(0deg);
                        transition: transform 1s;
                        &:hover {
                            transform: scale(0.5) rotate(-15deg);
                            transition: transform 2s;
                        }
                    }
                    
                    p {
                        @include redText;
                    }
                    
                    #mixin-example {
                        @include boxShadow;
                        @include textShadow;
                    }
                    
                    #mixin-button {
                        @include animation1;
                    }
                    
                    #mixin-button:hover {
                        @include animation2;
                    }
                    
                    #animated-button {
                        @include animation;
                    }
                    
                    #subtitle {
                        width: fit-content;
                        @include animation;
                    }
                    
                    @font-face {
                        font-family: "Snowtop Caps";
                        src: url("Snowtop Caps.otf")
                    }
                    
                    main {
                        font-family: "Snowtop Caps";
                    }
                    
                    footer {
                        font-family: $secondaryFont;
                    }
                    
                    h1 {
                        color: $darkGreen;
                        width: fit-content;
                        &:hover {
                            color: $darkRed;
                        }
                    }
                    
                    p b {
                        color: $lightBlue;
                    }
                    
                    pre {
                        code {
                            color: $darkRed;
                        }
                    }
                    
                    $myColor: purple;
                    pre {
                        i {
                            color: $myColor;
                        }
                    }
                    
                    $thumbsUp: url("thumbs-up.png");
                    .bg-image {
                        background-image: $thumbsUp;
                    }
                    
                    $horizontalRepeat: space no-repeat;
                    .horizontalRepeat {
                        background-repeat: $horizontalRepeat;
                    }
                    
                    $verticalRepeat: no-repeat repeat;
                    .verticalRepeat {
                        background-repeat: $verticalRepeat;
                    }
                    
                    .width {
                        width: 100vw;
                    }
                    
                    .height {
                        height: 200px;
                    }
                    
                    .size7 {
                        background-size: 7%;
                    }
                    
                    .size50 {
                        background-size: 50%
                    }
                    
                    $stretch: 25% 100%;
                    .stretch {
                        background-size: $stretch
                    }
                    
                    $darkGradient: linear-gradient(90deg,
                    gray,
                    black 10% 90%,
                    gray);
                    $lightGradient: linear-gradient(90deg,
                    gray,
                    white 10% 90%,
                    gray);
                    .gradient {
                        background-image: $lightGradient;
                    }